{% extends "layouts/base.html" %}
{% load static %}
{% block title %} List of Books {% endblock title %}
{% block stylesheet %}
<style>
    h1 {
        color: green;
    }
    h2 {
        color: lightskyblue;
    }
    p {
        font-family: verdana;
        font-size: 20px;
    }
</style>
{% endblock stylesheet %}

{% block content %}

<h1>List of Books</h1>
<a href='{% url "books.view_one_book" 123 %}'>
    <h2>Internet & World Wide Web How to Program</h2>
</a>
<a href="one_book.html"><img src="{% static 'book.jpg' %}" alt="Book1 img desc" width="100" height="120"></a>
<hr>

<h2>2) C++ How to Program, Late Objects Version</h2>
<img src="{% static 'book.jpg' %}" alt="Book2 img desc" width="100" height="120">
<hr>

<h2>3) Images in Another Folder</h2>
<img src="{% static 'book.jpg' %}" alt="Book3 img desc" width="100" height="120">
<hr>

{% endblock content %}